.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pc);
    padding: 3px 20px 3px 3px;
    border-radius: 100vh;
    gap: 15px;
    cursor: pointer;
}
.btn div{
    width: 37px;
    height: 37px;
    background-color: white;
    border-radius: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.btn span{
    font-size: 14px;
    color: white;
}