.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #555;
}

.icon {
    font-size: 80px;
}

.main {
    font-size: 18px;
}

.sub {
    font-size: 15px;
}