.message_wrapper {
    height: calc(100dvh - 60px);
    overflow-y: auto;
}

.message_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 0 auto;
    padding-top: 10px;
}

.input_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
}

.input_container {
    height: 60px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 7px;
}

.input_container input {
    height: 40px;
    font-size: 14px;
    border-radius: 100vh;
    border: 1px solid #ddd;
    padding: 0 18px;
    flex: 1;
}

.send_btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    border: none;
    background-color: var(--pc);
    flex-shrink: 0;
}

.icon {
    font-size: 16px;
    color: white;
}

.page_loader {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_loader {
    height: calc(100dvh - 65px);
    display: flex;
    justify-content: center;
    align-items: center;
}