.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: white;
    background-color: var(--pc);
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
}
.container .icon{
    font-size: 18px;
    height: 18px;
}
.container .text{
    font-size: 14px;
}