* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --pc: #9F33FF;
    --sc: #444;
}

body {
    color: #222;
}

input {
    outline: none;
}